/* CSS Document */

p{text-align: center;}

h1{text-align: center;}

h2{text-align: center;}
h3{text-align: center;}

img{text-align: center;}

li{text-align: center}
ul{text-align: center}

ul style="list-style-type:circle"{text-align: center}
